@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.breadcrumb__bgr {
    background-image: url('https://fusta-demo.myshopify.com/cdn/shop/files/breadcrumb-bg.jpg?v=1537511178');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.breadcrumb__heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}