@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    /* Ta có thể tạo ra base class dùng chung để đỡ phải gọi nhiều lần */
    .active {
        @apply bg-red-300 border-l-8 border-red-500 py-2 rounded-r-md text-white;
    }
    .background-table {
        @apply background-color: #f8fafc;
    }
    .sidebar-items {
        @apply text-center my-6 py-2 hover:active border-l-8 border-l-transparent duration-300 transition-all;
    }
    .border-half {
        border-radius: 50%;
    }
    .border-max {
        border-width: 10px;
    }
    .w-login {
        width: 920px;
    }
    .button-base {
        @apply text-white bg-orange-500 hover:bg-black duration-300;
    }
    .w-690 {
        width: 690px;
    }
}