.notifi-number {
    position: absolute;
    right: -10px;
    bottom: 4px;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 30px;
    color: #fff;
    background-color: #e97730;
}

/* Border trượt */

.list-header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: orange;
    transition: width 0.3s ease;
}

.list-header:hover::before {
    width: 100%;
}


.list-items {
    position: absolute;
    width: 180px;
    top: 128px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%);
    transition: all .4s;
}

.list-header:hover .list-items {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.modal {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    transition: all .2s;
    opacity: 0;
}

.modal-input {
    width: 800px;
}

input::placeholder {
    color: white;
}

.active {
    visibility: visible;
    opacity: 1;
}